<div class="media">
  <div class="media-body">
    <%= link_to favorite.post.title, topic_post_path(favorite.post.topic, favorite.post) %>
    <%= image_tag User.avatar_url(@user, 20) %>
    <small>(Votes: <%= favorite.post.votes.count %></small>
    <small>Comments: <%= favorite.post.comments.count %>)</small>
  </div>
</div>
